.carousel {
	background: #fff;
	color: #fff;
	padding: 100px 0 140px;
	background: @ORANGE;

	&_title {
		font-size: 32px;
		font-family: "NerisSemiBold";
		margin-bottom: 70px;
		.orange-bar;

		&::before {
			background: #fff;
		}
	}
}