body {
	background: #ff8c6c;
	font-family: "NerisThin";
	color: white;
}

.container {
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	padding: 0px 5%;

	@media screen and @mobile {
		padding: 0px;
	}
}

ul,p,h1,h2,h3,h4 {
		margin: 0;
		padding: 0;
}

.orange-bar {
	position: relative;

	&::before {
			content: "";
			position: absolute;
			bottom: -9px;
			left: 0;
			background: @ORANGE;
			width: 30px;
			height: 4px;
			z-index: 2;
		}
}

.right-arrow {
	padding-left: 25px;

	&::before {
		position: absolute;
		content: "→";
		display: block;
		left: 0;
		color: @ORANGE;
		top: 3px;
	}
}
.upButton {
	position: fixed;
	z-index: 100;
	width: 200px;
	top: 0;
	left: calc(~"50% - 100px");
	text-align: center;
	background: rgba(0,0,0,.5);
	color: #fff;
	font-size: 22px;
	font-family: "NerisSemiBold";
	padding: 5px 0 20px;
	border-radius: 0 0 25px 25px;
	opacity: 0;
	transition: .3s top ease-in-out;

	&:hover {
		background: rgba(0,0,0,.7);
		cursor: pointer;
	}
}

//animation for like-button
.likeUp {
	animation: like-click .5s;
	left: calc(~"50% - 12.5px");
	top: -23px;
	position: absolute;
	opacity: 1;
	z-index: 0;
}
 
@keyframes like-click {
	0% { opacity: 1; fill: #000;}
	100% {top: -53px; opacity: 0; fill: grey;}
}

@ORANGE: #e8432e;
@tablet: ~"(max-width: 768px)";
@mobile: ~"(max-width: 420px)";