#viewport {
	background: red;
	padding: 5px 20px;
	position: fixed;
	right: 20px;
	top: 50px;
	text-align: center;
	opacity: .5;
}

body {
	background: #ff8c6c;
	font-family: "NerisThin";
	color: white;
}

.container {
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	padding: 0px 5%;
}

ul,p,h1,h2,h3,h4 {
		margin: 0;
		padding: 0;
}

@ORANGE: #e8432e;
@tablet: ~"(max-width: 768px)";
@mobile: ~"(max-width: 420px)";
.orange-bar {
	position: relative;

	&::before {
			content: "";
			position: absolute;
			bottom: -9px;
			left: 0;
			background: @ORANGE;
			width: 30px;
			height: 4px;
			z-index: 2;
		}
}


.right-arrow {
	padding-left: 25px;

	&::before {
		position: absolute;
		content: "→";
		display: block;
		left: 0;
		color: @ORANGE;
		top: 3px;
	}
}