.footer {
	background: #e8432e;
	padding: 50px 0;
	color: #fff;

	@media screen and @tablet {
		padding: 20px 0;
	}

	& .container {
		display: flex;
		justify-content: space-around;
	}

	&_clock {
		
	}

	&_up {
		background: #fff;
		border: 2px solid black;
		border-radius: 10px;
		padding: 10px 20px;
	}

	&_design {
		a {
			color: yellow;

			&:hover {
				color: gold;
			}
		}
	}
}