.form {
	background: #fff;
	color: #000;
	padding: 115px 0 70px;
	
	&_title {
		font-size: 32px;
		font-family: "NerisSemiBold";
		margin-bottom: 70px;
		.orange-bar;
	}

	&_box {
		display: flex;
		justify-content: space-between;
	}

	&_info {
		width: 270px;
	}

	&_text {
		font-size: 24px;
		margin-bottom: 35px;
	}

	&_address{
		color: #b8b8b8;
	}

	&_send {	
		width: 770px;
	}

	&_name {
		width: 370px;
		box-sizing: border-box;
		margin-bottom: 30px;
	}

	&_email {
		width: 370px;
		box-sizing: border-box;
		margin-bottom: 30px;
	}

	&_message {
		width: 770px;
		box-sizing: border-box;
		margin-bottom: 30px;
	}

	&_button {
		display: block;
		margin-left: auto;
	}

	&_send-title {
		font-size: 24px;
		font-family: "NerisSemiBold";
		margin-bottom: 35px;
	}

	&_social {
		width: 70px;
	}

	&_social-icon {
		display: block;
	}
}