.form {
	background: #fff;
	color: #000;
	
	&_title {
		font-size: 32px;
		font-family: "NerisSemiBold";
	}

	&_box {
		display: flex;
		justify-content: space-between;
	}

	&_left {
		width: 200px;
	}

	&_send {	
		width: 800px;
	}
}