.nav {
	&_list {
		list-style: none;
		display: flex;
		justify-content: left;
		flex-wrap: wrap;

		@media screen and @tablet {
			justify-content: space-around;
			flex-wrap: nowrap;
		}

		@media screen and @mobile {
			display: none;
			opacity: 0;
			position: absolute;
			z-index: 2;
			width: 100%;
			transition: opacity 1s ease;
			flex-wrap: wrap;
		}

		&__opened {
			opacity: 1;
			display: flex;
			transition: opacity 1s ease;
			flex-wrap: wrap;
		}
	}

	&_mobile-nav {
		display: none;
		position: relative;

		@media screen and @mobile {
			display: block;
			background: rgba(220,70,50, .7);
		}
	}

	&_mobile-title {
		font-size: 24px;
		text-decoration: none;
		color: #fff;
		display: inline-block;
		padding: 20px 0;
		text-transform: uppercase;
	}

	&_item {
		margin-right: 40px;
		margin-bottom: 20px;

		@media screen and @tablet {
			margin-right: 0px
		}

		@media screen and @mobile {
			margin: 0;
			width: 100%;
		}
	}

	&_link {
		display: block;
		text-decoration: none;
		color: white;
		font-family: "NerisSemiBold";
		font-size: 36px;
		text-transform: lowercase;
		position: relative;

		&:hover::after {
			content: "";
			position: absolute;
			bottom: -9px;
			background: @ORANGE;
			width: 100%;
			left: 0;
			height: 4px;
			z-index: 1;
			opacity: .65;

			@media screen and @mobile {
				display: none;
			}
		}

		&__active {
			.orange-bar;

			@media screen and @mobile {
				&::before {
					display: none;
				}
			}
		}

		@media screen and @tablet {
			font-size: 24px;
		}

		@media screen and @mobile {
			margin: 0;
			padding: 12px 0;
			color: #fff;
			background: rgba(0,0,0, .7);
			border-bottom: 2px solid #000;

			&__active {
				color: @ORANGE;
			}
		}
	}
}